
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }
        .container{
            display: flex;
            justify-content: center;
            align-items: center;
            height: fit-content;
            width: fit-content;
            margin: 150px auto;
            padding: 20px;
            border-radius: 10px;
            background: #000;
            flex-direction: column;
            color: #d0e7e7;
            font-size: 30px;
        }
        h1{
            text-align: center;
            margin-top: 20px;
            color: #333;
        }
